credentials:
  system:
    domainCredentials:
    - credentials:
{% if ID_RSA_USER %}
      - basicSSHUserPrivateKey:
          id: "local-id-rsa"
          passphrase: "{{ ID_RSA_PASSWORD }}"
          privateKeySource:
            directEntry:
              privateKey: |
                {{ ID_RSA | indent(width=16) }}
          scope: GLOBAL
          username: "{{ ID_RSA_USER }}"
{% endif %}
{% if PRIVATE_KEY_RSA_USER %}
      - basicSSHUserPrivateKey:
          id: "PRIVATE_KEY_RSA_DES_EDE3_CBC"
          passphrase: "{{ PRIVATE_KEY_RSA_PASSWORD }}"
          privateKeySource:
            directEntry:
              privateKey: |
                {{ PRIVATE_KEY_RSA_DES_EDE3_CBC | indent(width=16) }}
          scope: GLOBAL
          username: "{{ PRIVATE_KEY_RSA_USER }}"
{% endif %}
{% if PRIVATE_KEY_RSA_USER %}
      - basicSSHUserPrivateKey:
          id: "PRIVATE_KEY_RSA_DES_CBC"
          passphrase: "{{ PRIVATE_KEY_RSA_PASSWORD }}"
          privateKeySource:
            directEntry:
              privateKey: |
                {{ PRIVATE_KEY_RSA_DES_CBC | indent(width=16) }}
          scope: GLOBAL
          username: "{{ PRIVATE_KEY_RSA_USER }}"
{% endif %}
{% if PRIVATE_KEY_RSA_USER %}
      - basicSSHUserPrivateKey:
          id: "PRIVATE_KEY_RSA_AES_128_CBC"
          passphrase: "{{ PRIVATE_KEY_RSA_PASSWORD }}"
          privateKeySource:
            directEntry:
              privateKey: |
                {{ PRIVATE_KEY_RSA_AES_128_CBC | indent(width=16) }}
          scope: GLOBAL
          username: "{{ PRIVATE_KEY_RSA_USER }}"
{% endif %}
{% if PRIVATE_KEY_RSA_USER %}
      - basicSSHUserPrivateKey:
          id: "PRIVATE_KEY_RSA_AES_256_CBC"
          passphrase: "{{ PRIVATE_KEY_RSA_PASSWORD }}"
          privateKeySource:
            directEntry:
              privateKey: |
                {{ PRIVATE_KEY_RSA_AES_256_CBC | indent(width=16) }}
          scope: GLOBAL
          username: "{{ PRIVATE_KEY_RSA_USER }}"
{% endif %}
{% if PRIVATE_KEY_RSA_USER %}
      - basicSSHUserPrivateKey:
          id: "PRIVATE_KEY_RSA_AES_192_CBC"
          passphrase: "{{ PRIVATE_KEY_RSA_PASSWORD }}"
          privateKeySource:
            directEntry:
              privateKey: |
                {{ PRIVATE_KEY_RSA_AES_192_CBC | indent(width=16) }}
          scope: GLOBAL
          username: "{{ PRIVATE_KEY_RSA_USER }}"
{% endif %}
{% if PRIVATE_KEY_RSA %}
      - basicSSHUserPrivateKey:
          description: "ssh-agent RSA key RSA Private Key format"
          id: "rsa-private-format"
          privateKeySource:
            directEntry:
              privateKey: |
                {{ PRIVATE_KEY_RSA | indent(width=16) }}
          scope: GLOBAL
          username: "jenkins"
{% endif %}
{% if PRIVATE_KEY_DSA %}
      - basicSSHUserPrivateKey:
          description: "ssh-agent DSA"
          id: "dsa-private-format"
          privateKeySource:
            directEntry:
              privateKey: |
                {{ PRIVATE_KEY_DSA | indent(width=16) }}
          scope: GLOBAL
          username: "jenkins"
{% endif %}
{% if PRIVATE_KEY_EC %}
      - basicSSHUserPrivateKey:
          description: "ssh-agent EC"
          id: "ec-private-format"
          privateKeySource:
            directEntry:
              privateKey: |
                {{ PRIVATE_KEY_EC | indent(width=16) }}
          scope: GLOBAL
          username: "jenkins"
{% endif %}
{% if PRIVATE_KEY_ED25519 %}
      - basicSSHUserPrivateKey:
          description: "ssh-agent ed25519"
          id: "ed25519-private-format"
          privateKeySource:
            directEntry:
              privateKey: |
                {{ PRIVATE_KEY_ED25519 | indent(width=16) }}
          scope: GLOBAL
          username: "jenkins"
{% endif %}
{% if PRIVATE_KEY_RSA256 %}
      - basicSSHUserPrivateKey:
          description: "ssh-agent rsa-256"
          id: "rsa-256-private-format"
          privateKeySource:
            directEntry:
              privateKey: |
                {{ PRIVATE_KEY_RSA256 | indent(width=16) }}
          scope: GLOBAL
          username: "jenkins"
{% endif %}
{% if PRIVATE_KEY_RSA512 %}
      - basicSSHUserPrivateKey:
          description: "ssh-agent rsa-512"
          id: "rsa-512-private-format"
          privateKeySource:
            directEntry:
              privateKey: |
                {{ PRIVATE_KEY_RSA512 | indent(width=16) }}
          scope: GLOBAL
          username: "jenkins"
{% endif %}
      - usernamePassword:
          description: "user_password"
          id: "user_password"
          password: "password"
          scope: GLOBAL
          username: "jenkins"
{% if AWS_ACCESS_KEY_ID %}
      - aws:
          accessKey: "{{ AWS_ACCESS_KEY_ID }}"
          description: "aws-creds"
          id: "aws-credentials"
          scope: GLOBAL
          secretKey: "{{ AWS_SECRET_ACCESS_KEY }}"
      - basicSSHUserPrivateKey:
          id: "aws-ssh-key"
          privateKeySource:
            directEntry:
              privateKey: |
                {{ PRIVATE_KEY_AWS | indent(width=16) }}
          scope: GLOBAL
          username: "ubuntu"
{% endif %}
jenkins:
  agentProtocols:
  - "JNLP4-connect"
  - "Ping"
  clouds:
{% if DOCKER_URI %}
  - docker:
      dockerApi:
        dockerHost:
          uri: "{{ DOCKER_URI }}
      name: "docker-attach"
      templates:
      - connector:
          attach:
            user: "jenkins"
        dockerTemplateBase:
          image: "jenkins/ssh-agent:jdk11"
        instanceCapStr: "10"
        labelString: "docker-agent"
        remoteFs: "/home/jenkins"
      - connector:
          ssh:
            sshKeyStrategy:
              injectSSHKey:
                user: "jenkins"
        dockerTemplateBase:
          image: "jenkins/ssh-agent:jdk11"
        instanceCapStr: "10"
        labelString: "ssh-docker-agent"
        name: "ssh-docker-agent"
        pullStrategy: PULL_ALWAYS
        pullTimeout: 300
        remoteFs: "/home/jenkins"
{% endif %}
{% if AWS_ACCESS_KEY_ID %}
  - amazonEC2:
      cloudName: "test-ec2"
      credentialsId: "aws-credentials"
      region: "eu-west-1"
      sshKeysCredentialsId: "aws-ssh-key"
      templates:
      - ami: "ami-016454929d54bf64d"
        amiType:
          unixData:
            sshPort: "22"
        associatePublicIp: true
        connectBySSHProcess: false
        connectionStrategy: PUBLIC_IP
        deleteRootOnTermination: true
        description: "Ubuntu 20.04 LTS"
        ebsOptimized: false
        hostKeyVerificationStrategy: ACCEPT_NEW
        idleTerminationMinutes: "300"
        instanceCapStr: "10"
        labelString: "aws"
        maxTotalUses: -1
        minimumNumberOfInstances: 0
        minimumNumberOfSpareInstances: 0
        mode: NORMAL
        monitoring: false
        numExecutors: 1
        remoteAdmin: "ubuntu"
        remoteFS: "/tmp"
        stopOnTerminate: false
        subnetId: "subnet-065f74b55bc6d914f"
        t2Unlimited: false
        type: T2Micro
        useDedicatedTenancy: false
        useEphemeralDevices: false
      useInstanceProfileForCredentials: false
{% endif %}
  crumbIssuer:
    standard:
      excludeClientIPFromCrumb: false
  disableRememberMe: false
  markupFormatter: "plainText"
  mode: NORMAL
  myViewsTabBar: "standard"
{% if AGENTS_ENABLED == "true" %}
  nodes:
  - permanent:
      labelString: "ssh-agent"
      launcher:
        ssh:
          credentialsId: "rsa-private-format"
          host: "ssh-agent-rsa"
          launchTimeoutSeconds: 210
          maxNumRetries: 10
          port: 22
          retryWaitTime: 15
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
          javaPath: "/usr/local/openjdk-11/bin/java"
      name: "ssh-agent-rsa-private-format"
      nodeDescription: "SSH agent"
      numExecutors: 1
      remoteFS: "/home/jenkins"
      retentionStrategy: "always"

  - permanent:
      labelString: "ssh-agent"
      launcher:
        ssh:
          credentialsId: "PRIVATE_KEY_RSA_DES_EDE3_CBC"
          host: "ssh-agent-rsa"
          launchTimeoutSeconds: 210
          maxNumRetries: 10
          port: 22
          retryWaitTime: 15
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
          javaPath: "/usr/local/openjdk-11/bin/java"
      name: "PRIVATE_KEY_RSA_DES_EDE3_CBC"
      nodeDescription: "SSH agent"
      numExecutors: 1
      remoteFS: "/home/jenkins"
      retentionStrategy: "always"

  - permanent:
      labelString: "ssh-agent"
      launcher:
        ssh:
          credentialsId: "PRIVATE_KEY_RSA_DES_CBC"
          host: "ssh-agent-rsa"
          launchTimeoutSeconds: 210
          maxNumRetries: 10
          port: 22
          retryWaitTime: 15
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
          javaPath: "/usr/local/openjdk-11/bin/java"
      name: "PRIVATE_KEY_RSA_DES_CBC"
      nodeDescription: "SSH agent"
      numExecutors: 1
      remoteFS: "/home/jenkins"
      retentionStrategy: "always"

  - permanent:
      labelString: "ssh-agent"
      launcher:
        ssh:
          credentialsId: "PRIVATE_KEY_RSA_AES_128_CBC"
          host: "ssh-agent-rsa"
          launchTimeoutSeconds: 210
          maxNumRetries: 10
          port: 22
          retryWaitTime: 15
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
          javaPath: "/usr/local/openjdk-11/bin/java"
      name: "PRIVATE_KEY_RSA_AES_128_CBC"
      nodeDescription: "SSH agent"
      numExecutors: 1
      remoteFS: "/home/jenkins"
      retentionStrategy: "always"

  - permanent:
      labelString: "ssh-agent"
      launcher:
        ssh:
          credentialsId: "PRIVATE_KEY_RSA_AES_256_CBC"
          host: "ssh-agent-rsa"
          launchTimeoutSeconds: 210
          maxNumRetries: 10
          port: 22
          retryWaitTime: 15
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
          javaPath: "/usr/local/openjdk-11/bin/java"
      name: "PRIVATE_KEY_RSA_AES_256_CBC"
      nodeDescription: "SSH agent"
      numExecutors: 1
      remoteFS: "/home/jenkins"
      retentionStrategy: "always"

  - permanent:
      labelString: "ssh-agent"
      launcher:
        ssh:
          credentialsId: "PRIVATE_KEY_RSA_AES_192_CBC"
          host: "ssh-agent-rsa"
          launchTimeoutSeconds: 210
          maxNumRetries: 10
          port: 22
          retryWaitTime: 15
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
          javaPath: "/usr/local/openjdk-11/bin/java"
      name: "PRIVATE_KEY_RSA_AES_192_CBC"
      nodeDescription: "SSH agent"
      numExecutors: 1
      remoteFS: "/home/jenkins"
      retentionStrategy: "always"

{% for tag in ['14.04', '14.04-dsa', '16.04', '18.04', '20.04'] %}
  - permanent:
      labelString: "ubuntu-{{ tag }}"
      launcher:
        ssh:
          credentialsId: "user_password"
          host: "ssh-agent-ubuntu-{{ tag }}"
          launchTimeoutSeconds: 210
          maxNumRetries: 10
          port: 22
          retryWaitTime: 15
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
          javaPath: "/usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java"
      name: "Ubuntu-{{ tag }}"
      nodeDescription: "SSH agent Ubuntu {{ tag }}"
      numExecutors: 1
      remoteFS: "/home/jenkins"
      retentionStrategy: "always"
{% endfor %}
{% for tag in ['ec', 'ed', 'rsa'] %}
  - permanent:
      labelString: "host-key-{{ tag }}"
      launcher:
        ssh:
          credentialsId: "user_password"
          host: "ssh-agent-host-{{ tag }}"
          launchTimeoutSeconds: 210
          maxNumRetries: 10
          port: 22
          retryWaitTime: 15
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
          javaPath: "/usr/local/openjdk-11/bin/java"
      name: "host-key-{{ tag }}"
      nodeDescription: "SSH agent Host key {{ tag }}"
      numExecutors: 1
      remoteFS: "/home/jenkins"
      retentionStrategy: "always"
{% endfor %}

  - permanent:
      labelString: "ssh-agent"
      launcher:
        ssh:
          credentialsId: "rsa-256-private-format"
          host: "ssh-agent-rsa-256"
          launchTimeoutSeconds: 210
          maxNumRetries: 10
          port: 22
          retryWaitTime: 15
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
          javaPath: "/usr/local/openjdk-11/bin/java"
      name: "ssh-agent-rsa-256-private-format"
      nodeDescription: "SSH agent"
      numExecutors: 1
      remoteFS: "/home/jenkins"
      retentionStrategy: "always"
  - permanent:
      labelString: "ssh-agent"
      launcher:
        ssh:
          credentialsId: "rsa-512-private-format"
          host: "ssh-agent-rsa-512"
          launchTimeoutSeconds: 210
          maxNumRetries: 10
          port: 22
          retryWaitTime: 15
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
          javaPath: "/usr/local/openjdk-11/bin/java"
      name: "ssh-agent-rsa-512-private-format"
      nodeDescription: "SSH agent"
      numExecutors: 1
      remoteFS: "/home/jenkins"
      retentionStrategy: "always"
  - permanent:
      labelString: "ssh-agent"
      launcher:
        ssh:
          credentialsId: "dsa-private-format"
          host: "ssh-agent-dsa"
          launchTimeoutSeconds: 210
          maxNumRetries: 10
          port: 22
          retryWaitTime: 15
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
          javaPath: "/usr/local/openjdk-11/bin/java"
      name: "ssh-agent-dsa-private-format"
      nodeDescription: "SSH agent"
      numExecutors: 1
      remoteFS: "/home/jenkins"
      retentionStrategy: "always"
  - permanent:
      labelString: "ssh-agent"
      launcher:
        ssh:
          credentialsId: "ec-private-format"
          host: "ssh-agent-ec"
          launchTimeoutSeconds: 210
          maxNumRetries: 10
          port: 22
          retryWaitTime: 15
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
          javaPath: "/usr/local/openjdk-11/bin/java"
      name: "ssh-agent-ec-private-format"
      nodeDescription: "SSH agent"
      numExecutors: 1
      remoteFS: "/home/jenkins"
      retentionStrategy: "always"
  - permanent:
      labelString: "ssh-agent"
      launcher:
        ssh:
          credentialsId: "ed25519-private-format"
          host: "ssh-agent-ed25519"
          launchTimeoutSeconds: 210
          maxNumRetries: 10
          port: 22
          retryWaitTime: 15
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
          javaPath: "/usr/local/openjdk-11/bin/java"
      name: "ssh-agent-ed25519-private-format"
      nodeDescription: "SSH agent"
      numExecutors: 1
      remoteFS: "/home/jenkins"
      retentionStrategy: "always"
  - permanent:
      labelString: "ssh-agent"
      launcher:
        ssh:
          credentialsId: "user_password"
          host: "ssh-agent-rsa"
          javaPath: "/usr/local/openjdk-11/bin/java"
          port: 22
          sshHostKeyVerificationStrategy: "nonVerifyingKeyVerificationStrategy"
      name: "user+password"
      nodeDescription: "SSH agent"
      remoteFS: "/home/jenkins"
      retentionStrategy: "always"
{% endif %}
  numExecutors: 2
  primaryView:
    all:
      name: "all"
  projectNamingStrategy: "standard"
  quietPeriod: 5
  remotingSecurity:
    enabled: true
  scmCheckoutRetryCount: 0
  slaveAgentPort: 50000
  authorizationStrategy: "loggedInUsersCanDoAnything"
{% if SAML_ENABLED == "true" %}
  securityRealm:
    saml:
      advancedConfiguration:
        forceAuthn: true
      binding: "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect"
      displayNameAttributeName: "displayName"
      emailAttributeName: "mail"
      encryptionData:
        forceSignRedirectBindingAuthnRequest: true
        keystorePassword: "password"
        keystorePath: "/var/jenkins_home/saml-key.jks"
        privateKeyAlias: "saml-key"
        privateKeyPassword: "password"
      groupsAttributeName: "groups"
      idpMetadataConfiguration:
        period: 0
        url: "http://saml/simplesaml/saml2/idp/metadata.php"
      logoutUrl: "http://saml/simplesaml"
      maximumAuthenticationLifetime: 86400
      usernameAttributeName: "uid"
      usernameCaseConversion: "none"
{% endif %}
{% if SAML_ENABLED == "false" %}
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: "admin"
          password: "password"
  authorizationStrategy: loggedInUsersCanDoAnything
{% endif %}
security:
  apiToken:
    creationOfLegacyTokenEnabled: false
    tokenGenerationOnCreationEnabled: false
    usageStatisticsEnabled: true
  sSHD:
    port: -1
  globalJobDslSecurityConfiguration:
    useScriptSecurity: false
unclassified:
  location:
    adminAddress: "admin@example.com"
    url: "http://jenkins.example.com:8080/"
jobs:
  - script: >
      folder('testjobs')
  - file: "/usr/share/jenkins/ref/jobs/docker-agent.dsl"
  - file: "/usr/share/jenkins/ref/jobs/ssh-agent.dsl"
  - file: "/usr/share/jenkins/ref/jobs/ssh-docker-agent.dsl"
  - file: "/usr/share/jenkins/ref/jobs/git.dsl"
